{% extends 'base.html' %}

{% block page_content %}
<style>
body {
	background: #F0F8FF;
}
h3{
	padding: 20px;
 font-size: 40px;
font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
h4{
	padding: 20px;
 font-size: 25px;
font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
first-letter {
    font-size: 130px;
}
p {
	font-family: 'Droid Sans', sans-serif;
	 font-size: 20px;
	 color: grey;
}
.p1 {
	font-family: 'Droid Sans', sans-serif;
	 font-size: 15px;
	 color: grey;

}
}
</style>
<h3>Scholarly Articles</h3>
<div class="well">
<ul>
<a href="http://psycnet.apa.org/psycinfo/2002-06426-000">"Treatment planning in psychotherapy: Taking the guesswork out of clinical care"</a>
</ul>
<ul>
<a href="http://ventures.mayoclinic.org/impact/neurotropic-drug-selection.php">"Taking the guesswork out of neurotropic drug selection"</a>
</ul>
<ul>
<a href="http://www.kevinmd.com/blog/2013/01/im-psychiatric-medications-work.html">"Why I'm not sure that psychiatric medications work"</a>
</ul>
<ul>
<a href="http://www.healthcommunities.com/mental-health-care/multiple-medication-increase_jhmwp.shtml">"Use of Multiple Psychiatric Medications"</a>

</div>

{% endblock %}