<!-- <div class="bs-example">
  <!-- Button HTML (to Trigger Modal) -->
<!--   <a href="#" class="btn btn-lg btn-primary">+</a>
  <!-- Modal HTML -->
  <!-- <div id="medModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add prescriptions
          </h4> -->
        <!-- </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span> <span class="caret"></span></button>
          <div id=display class="display"></div>
          <ul id='list' class="dropdown-menu scrollable-menu" role="menu">
           <li><a href="#" class="small" data-value="abilify" tabIndex="-1"><input class="checkbox" type="checkbox" name='Abilify'/>&nbsp;Abilify</a></li>
           <li><a href="#" class="small" data-value="ativan" tabIndex="-1"><input class="checkbox" type="checkbox" name='Ativan'/>&nbsp;Ativan</a></li>
           <li><a href="#" class="small" data-value="carbolith" tabIndex="-1"><input class="checkbox" type="checkbox" name='Carbolith'/>&nbsp;Carbolith</a></li>
           <li><a href="#" class="small" data-value="clozaril" tabIndex="-1"><input class="checkbox" type="checkbox" name='Clozaril'/>&nbsp;Clozaril</a></li>
           <li><a href="#" class="small" data-value="cymbalta" tabIndex="-1"><input class="checkbox" type="checkbox" name='Cymbalta'/>&nbsp;Cymbalta</a></li>
           <li><a href="#" class="small" data-value="depakine" tabIndex="-1"><input class="checkbox" type="checkbox" name='Depakine'/>&nbsp;Depakine</a></li>
           <li><a href="#" class="small" data-value="effexor" tabIndex="-1"><input class="checkbox"  <!-- <!-- <!-- -->type="checkbox" name='Effexor'/>&nbsp;Effexor</a></li>
           <li><a href="#" class="small" data-value="gabapentin" tabIndex="-1"><input class="checkbox" type="checkbox" name='Gabapentin'/>&nbsp;Gabapentin</a></li>
           <li><a href="#" class="small" data-value="geodon" tabIndex="-1"><input class="checkbox" type="checkbox" name='Geodon'/>&nbsp;Geodon</a></li>
           <li><a href="#" class="small" data-value="invega" tabIndex="-1"><input class="checkbox" type="checkbox" name='Invega'/>&nbsp;Invega</a></li>
           <li><a href="#" class="small" data-value="klonopin" tabIndex="-1"><input class="checkbox" type="checkbox" name='Klonopin'/>&nbsp;Klonopin</a></li>
           <li><a href="#" class="small" data-value="lamictal" tabIndex="-1"><input class="checkbox" type="checkbox" name='Lamictal'/>&nbsp;Lamictal</a></li>
           <li><a href="#" class="small" data-value="lexapro" tabIndex="-1"><input class="checkbox" type="checkbox" name='Lexapro'/>&nbsp;Lexapro</a></li>
           <li><a href="#" class="small" data-value="librium" tabIndex="-1"><input class="checkbox" type="checkbox" name='Librium'/>&nbsp;Librium</a></li>
           <li><a href="#" class="small" data-value="marplan" tabIndex="-1"><input class="checkbox" type="checkbox" name='Marplan'/>&nbsp;Marplan</a></li>
           <li><a href="#" class="small" data-value="mogadon" tabIndex="-1"><input class="checkbox" type="checkbox" name='Mogadon'/>&nbsp;Mogadon</a></li>
           <li><a href="#" class="small" data-value -->="nardil" tabIndex="-1"><input class="checkbox" type="checkbox" name='Nardil'/>&nbsp;Nardil</a></li> --> -->
           <li><a href="#" class="small" data-value="nipolept" tabIndex="-1"><input class="checkbox" type="checkbox" name='Nipolept'/>&nbsp;Nipolept</a></li>  
           <li><a href="#" class="small" data-value="parnate" tabIndex="-1"><input class="checkbox" type="checkbox" name='Parnate'/>&nbsp;Parnate</a></li> 
           <li><a href="#" class="small" data-value="paxil" tabIndex="-1"><input class="checkbox" type="checkbox" name='Paxil'/>&nbsp;Paxil</a></li> 
           <li><a href="#" class="small" data-value="pregabalin" tabIndex="-1"><input class="checkbox" type="checkbox" name='Pregabalin'/>&nbsp;Pregabalin</a></li> 
           <li><a href="#" class="small" data-value="prozac" tabIndex="-1"><input class="checkbox" type="checkbox" name='Prozac'/>&nbsp;Prozac</a></li> 
           <li><a href="#" class="small" data-value="remeron" tabIndex="-1"><input class="checkbox" type="checkbox" name='Remeron'/>&nbsp;Remeron</a></li> 
           <li><a href="#" class="small" data-value="risperdal" tabIndex="-1"><input class="checkbox" type="checkbox" name='Risperdal'/>&nbsp;Risperdal</a></li> 
           <li><a href="#" class="small" data-value="seroquel" tabIndex="-1"><input class="checkbox" type="checkbox" name='Seroqel'/>&nbsp;Seroquel</a></li> 
           <li><a href="#" class="small" data-value="seroxat" tabIndex="-1"><input class="checkbox" type="checkbox" name='Seroxat'/>&nbsp;Seroxat</a></li> 
           <li><a href="#" class="small" data-value="tegretol" tabIndex="-1"><input class="checkbox" type="checkbox" name='Tegretol'/>&nbsp;Tegretol</a></li>    
           <li><a href="#" class="small" data-value="topiramate" tabIndex="-1"><input class="checkbox" type="checkbox" name='Topiramate'/>&nbsp;Topiramate</a></li>    
           <li><a href="#" class="small" data-value="trileptal" tabIndex="-1"><input class="checkbox" type="checkbox" name='Trileptal'/>&nbsp;Trileptal</a></li>  
           <li><a href="#" class="small" data-value="trintellix" tabIndex="-1"><input class="checkbox" type="checkbox" name='Trintellix'/>&nbsp;Trintellix</a></li>  
           <li><a href="#" class="small" data-value="valium" tabIndex="-1"><input class="checkbox" type="checkbox" name='Valium'/>&nbsp;Valium</a></li>    
           <li><a href="#" class="small" data-value="wellbutrin" tabIndex="-1"><input class="checkbox" type="checkbox" name='Wellbutrin'/>&nbsp;Wellbutrin</a></li> 
           <li><a href="#" class="small" data-value="xanax" tabIndex="-1"><input class="checkbox" type="checkbox" name='Xanax'/>&nbsp;Xanax</a></li>  
           <li><a href="#" class="small" data-value="zoloft" tabIndex="-1"><input class="checkbox" type="checkbox" name='Zoloft'/>&nbsp;Zoloft</a></li>  
           <li><a href="#" class="small" data-value="zyprexa" tabIndex="-1"><input class="checkbox" type="checkbox" name='Zyprexa'/>&nbsp;Zyprexa</a></li>                       
         </ul>
         <div class='dates'>
         <div class='start-date'>Start: <input type="date" name="start"></div>
         <div class='end-date'>End:  <input type="date" name="end"></div>
       </div>

       <div class="modal-footer">
         <button id='save' class="btn btn-default">Enter dose</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button id='submit' class="btn btn-primary" data-dismiss="modal">Submit</button>
       </div>
     </div>
   </div>
 </div>
</div> -->
</div> -->
<style type="text/css">
  .bs-example{
    margin: 20px;
  }
  .display {
    padding-top: 20px;
  }
  .dates {
  padding-top: 20px;
}
  .start-date {
  padding-bottom: 10px;
}
  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
</style>